// COLOR MAP
$text-primary-color: #2d5ca6;
$text-secondary-color: #ffffff;
$text-third-color: #6d727c;
$text-fourth-color: #000000;
$text-fifth-color: #1d1d1b;
$nav-text-hover-color: #ffe358;
$pages-number-hover-color: #2d5ca6;
$nav-form-search-color: #eef5ff;
$nav-bg-color: radial-gradient(273.5% 1878.8% at 53.2% 50%, #1e4286 0%, #0e327e 100%);
$header-bg-color: radial-gradient(273.5% 1878.8% at 53.2% 50%, #2754a9 0%, #133f9e 100%);
$footer-bg-color: #f5f7fa;
$nav-btn-color: #ffffff;
$section-text-color: #004BC1;
$section-link-hover: #2D5CA6;
$section-border-bottom-color: #C2C5CB;
$section-link-color: #2D5CA6;

// FONTS
$primary-font: 'Open Sans',sans-serif;
