<header class="full-screen">
  <div class="header-content">
    <div class="container">
      <div class="logo-container">
        <a class="logo logo-mobile" href="#">Платформа консультацій з ОМС</a>
        <a class="personal-cabinet" href="#">Персональний кабінет</a>
      </div>
    </div>
  </div>
  <div class="navigation-container">
    <div class="container">
      <nav class="navigation navigation-mobile">
        <ul class="navigation-menu">
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Головна</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Консультації</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Форум</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Чат-бот</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Партнери</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Інструкція</a>
          </li>
        </ul>
        <form action="#" method="get" class="navigation-form">
          <input class="navigation-form__search" type="text" placeholder="Пошук" name="text" />
          <button class="navigation-form__btn" type="submit">
            <svg class="navigation-form__icon" width="20.27" height="20.18">
              <use href="img/sprite.svg#Search"></use>
            </svg>
          </button>
        </form>
      </nav>
    </div>
  </div>
</header>

<header class="mobile">
  <div class="container">
    <div class="logo-container">
      <a class="logo logo-mobile" href="#">Платформа консультацій з ОМС</a>
      <nav class="navigation navigation-mobile">
        <button class="navigation-form__btn" type="submit">
          <svg class="navigation-form__icon" width="20.27" height="20.18">
            <use href="img/sprite.svg#Search"></use>
          </svg>
        </button>
        <button class="navigation-form__btn" type="submit">
          <svg class="navigation-mobile__icon" width="25" height="20">
            <use href="img/sprite.svg#menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>