<main>
    <section class="consultations">
      <div class="container">
<a class="consultations__link" href="#">Головна</a>
<h2 class="consultations__title">Консультації</h2>
<div class="consultation-types">
<a class="consultation-types__link" href="#">Акуальні консультації</a>
<a class="consultation-types__link" href="#">Заплановані консультації</a>
<a class="consultation-types__link" href="#">Проведені консультації</a>
</div>
<ul class="consultation-list">
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item consultation-item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item consultation-item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item consultation-item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
<li class="consultation-list__item consultation-item">
  <a class="consultation-list__link" href="form.html">Консультація щодо прийняття Закону України «Про внесення змін до деяких законів України щодо розвитку інституту старост</a>
  <span class="consultation-list__info">Днів залишилось: 23</span>
</li>
</ul>
<div class="pages-number-container">
<button class="slaider left__btn" type="submit">
  <span class="slaider__text">попередня</span>
  <svg class="slaider__icon" width="20" height="10.98">
    <use href="../img/sprite.svg#left"></use>
  </svg>
</button>
<div class="page-number">
<button class="page-number__meaning-btn" type="submit">1</button>
<button class="page-number__meaning-btn" type="submit">2</button>
<button class="page-number__meaning-btn" type="submit">3</button>
<button class="page-number__meaning-btn mobile-screen-hidden-number" type="submit">4</button>
<button class="page-number__meaning-btn" type="submit">...</button>
<button class="page-number__meaning-btn" type="submit">21</button>
</div>
<button class="slaider" type="submit">
  <span class="slaider__text">наступна</span>
  <svg class="slaider__icon" width="20" height="10.98">
    <use href="../img/sprite.svg#right"></use>
  </svg>
</button>
</div>
      </div>
    </section>
  </main>