<main>
    <section class="form">
        <div class="container">
            <div class="title">
                <h2 class="title__text">Консультація щодо прийняття Закону України «Про внесення змін до деяких
                    законів України щодо розвитку інституту старост»</h2>
                <span class="title__info">Комітет ВРУ з питань організації державної влади, місцевого
                    самоврядування,
                    регіонального розвитку та містобудування</span>
                <button type="button" class="title__btn">Актуальна консультація</button>
            </div>
            <div class="wrap-content">
                <div class="add-info">
                    <div class="add-info__wrap">
                        <span class="add-info__title">Детальна інформація</span>
                        <svg class="add-info__svg" width="20px" height="11px">
                            <use href="img/sprite.svg#vector"></use>
                        </svg>
                    </div>
                    <div class="add-info__content">
                        <h3 class="add-info__title-item">Триває опитування</h3>
                        <span class="add-info__text">До завершення опитування залишилось: <br><span>5
                                годин</span></span>
                        <h3 class="add-info__title-item">Пов'язані документи НПА</h3>
                        <a class="add-info__link" href="#">
                            Соціальний_проект_розвитку<wbr>_території_Б<wbr>ахмутської_міськ<wbr>ої_ОТГ__на_2021_рік
                        </a>
                        <h3 class="add-info__title-item">Обговорити на форумі</h3>
                        <button type="button" class="add-info__btn">Перейти</button>
                    </div>
                </div>
                <div class="body">
                    <h3 class="body__title">Опис</h3>
                    <p class="body__text">Соціальний проєкт – це програма реальних дій, в основі якої лежать
                        актуальні соціальні проблеми, які потребують вирішення. І від вкладу кожного з нас в
                        розвиток громади залежить наше благополуччя і майбутнє.</p>
                    <p class="body__text">
                        Основними пріоритетними напрямками Соціального проєкту розвитку території Бахмутської
                        міської об’єднаної територіальної громади на 2021 рік:</p>
                    <p class="body__text">
                        проведення ремонтних робіт та укріплення матеріально-технічної бази освітніх закладів;
                        укріплення матеріально-технічної бази комунальних некомерційних підприємств охорони
                        здоров’я;
                        озеленення та благоустрій територій Бахмутської міської об’єднаної територіальної громади;
                        благоустрій прибудинкових територій;
                        облаштування зупиночних пунктів.</p>
                    <h3 class="body__title">Просимо Вас надати відповідь на наступні питання</h3>
                    <p class="body__text--grey">Виберіть відповіді, які найбільше відповідають вашій точці зору і
                        натисніть мишкою біля відповіді, яку Ви вибрали. Якщо Ви не визначились з позицією з того чи
                        іншого питання або не хочете відповідати на це питання, виберіть варіант «Важко відповісти»
                    </p>
                    <form action="#" class="answer-form">
                        <div class="radio">
                            <h4 class="radio__title">Це питання, яке містить тільку одну відповідь?</h4>
                            <ul class="radio__list">
                                <li class="radio__item">
                                    <input type="radio" class="radio__input" name="number_of_answers" id="yes"
                                        value="yes">
                                    <label class="radio__label" for="yes">Так</label>
                                </li>
                                <li class="radio__item">
                                    <input type="radio" class="radio__input" name="number_of_answers" id="not"
                                        value="not">
                                    <label class="radio__label" for="not">Ні</label>
                                </li>
                                <li class="radio__item">
                                    <input type="radio" class="radio__input" name="number_of_answers" id="hard"
                                        value="difficult_to_answer">
                                    <label class="radio__label" for="hard">Важко відповісти</label>
                                </li>
                            </ul>
                        </div>
                        <div class="checkbox">
                            <h4 class="checkbox__title">Чи можу я в цьому питанні обрати одразу декілька відповідей?
                            </h4>
                            <span class="checkbox__text">може бути декілька відповідей</span>
                            <ul class="checkbox__list">
                                <li class="checkbox__item">
                                    <input type="checkbox" class="checkbox__input" name="multiple_answers"
                                        id="yes_check" value="yes">
                                    <label for="yes_check" class="checkbox__label">Так</label>
                                </li>
                                <li class="checkbox__item">
                                    <input type="checkbox" class="checkbox__input" name="multiple_answers" id="optional"
                                        value="optional">
                                    <label for="optional" class="checkbox__label">За бажанням</label>
                                </li>
                                <li class="checkbox__item">
                                    <input type="checkbox" class="checkbox__input" name="multiple_answers" id="for_sure"
                                        value="for_sure">
                                    <label for="for_sure" class="checkbox__label">Напевне</label>
                                </li>
                                <li class="checkbox__item">
                                    <input type="checkbox" class="checkbox__input" name="multiple_answers"
                                        id="hard_check" value="hard_check">
                                    <label for="hard_check" class="checkbox__label">Важко відповісти</label>
                                </li>
                            </ul>
                        </div>
                        <div class="rang">
                            <h4 class="rang__title">Мені портібно обрати рендж?</h4>
                            <ul class="rang__list">
                                <li class="rang__item">
                                    <input type="checkbox" class="rang__input" name="randg_choice" id="0-10"
                                        value="0-10">
                                    <label for="0-10" class="rang__label">0-12</label>
                                </li>
                                <li class="rang__item">
                                    <input type="checkbox" class="rang__input" name="randg_choice" id="11-20"
                                        value="11-20">
                                    <label for="11-20" class="rang__label">11-20</label>
                                </li>
                                <li class="rang__item">
                                    <input type="checkbox" class="rang__input" name="randg_choice" id="21-30"
                                        value="21-30">
                                    <label for="21-30" class="rang__label">21-30</label>
                                </li>
                                <li class="rang__item">
                                    <input type="checkbox" class="rang__input" name="randg_choice" id="31-40"
                                        value="31-40">
                                    <label for="31-40" class="rang__label">31-40</label>
                                </li>
                                <li class="rang__item">
                                    <input type="checkbox" class="rang__input" name="randg_choice" id="hard-rang"
                                        value="hard-rang">
                                    <label for="hard-rang" class="rang__label">Важко відповісти</label>
                                </li>


                            </ul>
                        </div>
                        <div class="text-area">
                            <h4 class="text_area__title">На скілкьи символів це поле?</h4>
                            <span class="text-area__text">Максимум 1000 символів</span>
                            <textarea class="text-area__form" name="text-area" rows="7" id="text-area" maxlength="1000"
                                placeholder="Введіть відповідь"></textarea>
                        </div>
                        <button type="submit" class="answer-form__btn">Надіслати</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>